@import './range.css';
@import './select.css';

:root {
  --purple: rgb(102, 26, 255);
  --dark-gray: rgb(88, 80, 79);
  --light-gray: rgb(242, 242, 242);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--purple);
  color: var(--white);
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 4.5rem;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/***
MAIN
***/
.main {
  height: 95vh;
}

.header {
  height: 8%;
  display: flex;
  align-items: center;
}

.content {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__title {
  margin-bottom: 2rem;
}

.content__pass {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.content__pass-box {
  display: block;
  text-align: center;
  border: 2px solid var(--purple);
  border-radius: 4px;
  padding: 0.25rem 2rem;
  width: 80%;
  font-size: 2.5rem;
}

.button-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--purple);
  border: none;
  height: 67px;
  width: 67px;
  border-radius: 2px;
  color: var(--white);
  cursor: pointer;
}

.button-square__icon {
  height: 2rem;
}

.button-square:hover {
  background: rgb(93, 23, 233);
}

/***
FOOTER
***/

.footer {
  height: 5vh;
  background-color: var(--purple);
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 200;
}

.footer__linck {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.footer__linck:hover {
  text-decoration: underline;
}

.footer .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
